@model IEnumerable<MyFirstWebApp.Models.Customer>

@{
    ViewData["Title"] = "Clientes";
}

<div class="centered-frame">
    <h1 class="text-center">Clientes</h1>

    <p class="text-center mb-3">
        <a asp-action="Create" class="btn btn-warm">Create New</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.First().FullName)</th>
                <th>@Html.DisplayNameFor(model => model.First().Email)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>
                    <div class="action-buttons">
                        <a asp-action="Edit" asp-route-id="@item.CustomerId" class="btn btn-warm btn-sm" role="button">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.CustomerId" class="btn btn-warm btn-sm" role="button">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.CustomerId" class="btn btn-warm-danger btn-sm" role="button">Delete</a>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
